<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professores</title>

    <!--Importação do Bootstrap-->
        <link 
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
            crossorigin="anonymous"
        >
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
            crossorigin="anonymous">
        </script>
    <!--Fim da Importação do Bootstrap-->

    <!--Importação IonIcons-->
        <script 
            type="module" 
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js">
        </script>
        <script 
            nomodule 
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js">
        </script>
    <!--Fim da Importação IonIcons-->

    <!--CSSs-->
        <link rel="stylesheet" href="../public/css/global.css">
        <link rel="stylesheet" href="../public/css/indexProfessor.css">
    <!--Fim dos CSSs-->

</head>
<body>
    <!-- Navbar -->        
        <nav class="navbar fixed-top navbar-custom">
            <div class="container-fluid">

                <!-- icon menu -->
                <button class="navbar-toggler iconMenu" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Título -->
                <a class="navbar-brand position-absolute top-50 start-50 translate-middle titleSiteDesktop" href="#">
                    SGTF - Sistema de Gerenciamento de Trabalhos Finais
                </a>

                <!-- Título (versão mobile) -->
                <a class="navbar-brand position-absolute top-50 start-50 translate-middle titleSiteMobile" href="#">
                    SGTF
                </a>

                <!-- funções de aumento/redução de font -->
                <div class="d-flex align-items-center ms-auto d-fonte-ajuste d-none d-md-block">
                    <!-- Links A+ e A- -->
                    <div class="d-flex align-items-center me-5 text-white">
                        <a class="navbar-brand">A+</a>
                        <a class="navbar-brand">A-</a>
                    </div>
                </div>

                <!-- Ícone de perfil -->
                <a href="#">
                    <ion-icon name="person-circle-outline" class="icon-profile"></ion-icon>                        
                </a>

                <!-- menu -->
                <div class="offcanvas-end offcanvas" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

                    <!-- header -->
                    <div class="offcanvas-header text-white">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">SGTF</h5>
                        <button type="button" class="btn-close bg-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                
                    <!-- body -->
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="../views/indexProfessor.html">Professor</a>
                            </li>   
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Turma</a>
                            </li>                               
                        </ul>                  
                    </div>
                </div>
            </div>
        </nav>
    <!-- (fim) navbar -->

    <!--Botão Voltar-->
        <a href="" class="btn-voltar">
            <img src="../public/img/icons/icon_return.png" alt="Botão voltar">
        </a>
    <!--Fim do Botão Voltar-->  
    
    <!-- Botão Cadastrar -->
        <div class="d-grid d-md-flex justify-content-md-end">
            <a href="../views/createProfessor.html" class="text-decoration-none">
                <button class="btn btn-primary fixed-button" type="button">
                    <ion-icon name="add-outline"></ion-icon>
                </button>
            </a>
        </div>
    <!-- (fim) Botão Cadastrar -->

    <!--Titulo Principal-->
        <h1 class="page-title">Lista de Professores</h1>
                
            <div class="row d-flex justify-content-center align-items-center text-center row-error">

                <!-- subtitle -->
                <p>Não há professores cadastrados</p>

                <!-- image -->
                <img class="imgError" src="../public/img/error.svg" alt="imagem de erro">

                <!-- text -->
                <p class="txt-mobile">Clique no botão “+” no canto inferior direito para iniciar o cadastro.</p>
            </div>

    <!--JS-->
        <script src="../public/js/multiform-use.js"></script>

</body>
</html>